# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
colormapScale.VC.db
colormapScale/Vector/dvector.cc
colormapScale/Vector/dVector.h
colormapScale/Vector/fvector.cc
colormapScale/Vector/fVector.h
colormapScale/Vector/ivector.cc
colormapScale/Vector/iVector.h
colormapScale/Vector/Tests/forceLinks.h
colormapScale/Vector/Tests/main.cc
colormapScale/Vector/Tests/vectorTest.cc
colormapScale/Vector/Tests/vectorTestStateManager.h
colormapScale/Vector/vector.cc
colormapScale/Vector/vector.h
colormapScale/Vector/vector_template.h
colormapScale/Vector/vector2D.cc
colormapScale/Vector/vector2D.h
colormapScale/Vector/vector3f.h
enc_temp_folder/a1577473891b4985e2fc09f98cedfee/drawTexWidget.cpp
colormapScale/readShaderFromBuffer.cpp
Debug/*
enc_temp_folder/*
x64/*
colormapScale/x64/Debug/*
